.pan-map-control-button, .map-error-message {
  color: #262421;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 5px;
  font: 400 16px Arial, sans-serif;
  overflow: hidden;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
}
.pan-map-control-button:hover {
  background: #F4F4F4;
  border-color: #F4F4F4;
}